
body {
	margin: 0;
	overflow: hidden;
	//background-color: #f8a2bd;
	background-color: black;
	font-family: 'Handlee', cursive;
	font-size: 24px;
	background-color: black;
}
.state1 {
//	background-color: #f8a2bd;
}
.state2 {
//	background-color: #5898cc;
}

.tip {
	color: rgba(255,255,255,0.5);
	font-size: 10pt;
	margin-top: 120px;
}


.card {
	width: 300px;
	height: 200px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;  /* the same as the div height */

	/* 50% black box shadow */
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.panel {
	margin:-100px 0 0 -150px; /* half the card width and height to center card*/
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
	background-color: #ccc;
	-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
					transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
		 -moz-backface-visibility: hidden;
					backface-visibility: hidden;
}

.panel .back {
	position: absolute;
	top: 0;
	left: 0;

	-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
					transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
		 -moz-backface-visibility: hidden;
					backface-visibility: hidden;
}

/* ------------------------- State 2 --------------------------- */

.slideshow {
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

p {
	max-width: 500px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	
	position: absolute;
	margin:-50px 0 0 -250px; /* half the card width and height to center card*/

	top: 50%;
	left: 50%;
	text-align: center;
}


/* ------------------------- State 3 --------------------------- */
.state3 {
	width: 100%;
	height: 100%;
}



